.teltonika-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding-top: 50px;
}

.cards-container {
    color: #FFFFFF;
    justify-content: center;
    margin-top: 64px;
    display: flex;
    gap: 50px;
}

.routers-card {
    width: 600px;
    height: 500px;
}

.routers-card:hover {
    transform: scale(1.05);
}

.switches-card {
    width: 60%;
    height: 100%;
    min-width: 500px;
}

.switches-card:hover {
    transform: scale(1.05);
}

.gateway-card {
    width: 60%;
    height: 100%;
    min-width: 500px;
}

.gateway-card:hover {
    transform: scale(1.05);
}

.card {
    background-color: #292929;
    border-radius: 30px;
    padding: 30px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.gate-switch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.pictures {
    position: relative;
    width: 100%;
    height: 80%;
}

.pictures-second {
    position: relative;
    width: 100%;
    height: 60%;
}

.router-1 {
    width: 100%;
    height: 100%;
    min-width: 500px;
}

.switch-gateway {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -35px;
    left: 35%;
}

.info-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.info-title h1 {
    font-size: 36px;
}

.info-title p {
    font-size: 20px;
}